:root {
  --gap: 15px;
  --gap-outer: calc(3.75 * var(--gap));
}

@media screen and (max-width: 600px) {
  :root {
    --gap: 7px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
  width: calc(100% - calc(2 * var(--gap-outer)));
  max-width: 1024px;
  margin: 0 auto var(--gap-outer) auto;
}

.ui-container {
  width: 100%;
  border: 1px solid #dfe1e6;
  margin-top: var(--gap-outer);
}

.header>* {
  margin: 0 calc(var(--gap) / 2);
  padding: calc(var(--gap) / 2);
}

.header {
  margin: var(--gap);
}

#palette {
  margin: 0 var(--gap);
  display: flex;
  flex-wrap: wrap;
}

h3 {
  font-size: 20px;
  display: inline-block;
}

#palette>div {
  margin: var(--gap);
  display: flex;
  width: 84px;
}

#palette>div>input {
  width: 50px;
  height: 30px;
  margin-right: 4px;
}

#palette>div>button {
  width: 30px;
  height: 30px;
}

canvas {
  width: 100%;
  aspect-ratio: 16 / 9;
}

label {
  cursor: pointer;
}

#process-image {
  margin: var(--gap) calc(2 * var(--gap));
  padding: calc(var(--gap) / 2);
}
