* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji;
}

.ui-container {
    position: relative;
    width: 800px;
    border: 1px solid #dfe1e6;
    margin-top: 45px;
}

h3 * {
    margin: 0 5px;
    padding: 0 3px;
}

#palette {
    width: 756px;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;
}

h3 {
    margin: 12px;
    font-size: 20px;
}

#palette div {
    margin: 12px;
    display: flex;
    width: 84px;
}

#palette div input {
    width: 50px;
    height: 30px;
    margin-right: 4px;
}

#palette div button {
    width: 30px;
    height: 30px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

canvas {
    width: 800px;
    height: 450px;
}

label {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#process-image {
    margin: 12px;
    padding: 3px;
}